:root {
    --body-bg: #000;

    --nav-bg: rgba(30, 60, 120, .5);
    --nav-current-bg: #246;
    --nav-hover-bg: #47C;

    --banner-bg: rgba(30, 60, 120, .5);

    --text-color: #fff;
    --text-size: 1.2em;
}

/* Mobile */
body {
    margin: 0;
    background: var(--body-bg);
    color: var(--text-color);
    overflow-x: hidden; /*hide horizontal scroll*/
}

p {
    font-size: var(--text-size);
    line-height: 2em;
}


nav {
    position: sticky;
    top: 0;
    background: var(--nav-bg);
    padding: 0 2rem;

    justify-content: center; /* put nav items at center */
    align-items: center; /*vertical align nav items and hamburger*/

    display: grid;
    grid-template-columns: 60% 40%;

    z-index: 10; /*show nav background*/
}


.nav-img {
    margin: 0;
    margin-right: auto; /*left align img*/
}

.nav-img img {
    vertical-align: middle; /*center image*/
    width: 8rem; /*image size*/
}


.hamburger {
    width: 100%;
    cursor: pointer;
    margin-left: auto; /* right align hamburger */
    width: fit-content; /* right align hamburger */
}

.hamburger .bar {
    /*hamburger icon*/
    display: block;
    margin: 5px 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    /*hamburger icon*/

    transition: all 0.2s ease-in-out; /*animation*/
}

/*hamburger animation*/
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/*hamburger animation*/


.nav-main {
    background-color: var(--nav-bg);
    border-radius: 2rem 0 0 2rem;
    margin: 0;
    padding: 1rem;

    position: absolute;
    top: 100px;
    right: -100vw;/*animation - hide nav items off the screen*/
    transition: all 0.4s ease-in-out;

    display: grid;
    row-gap: 1.5rem;
}

.nav-main.active {
    right: 0; /*right align nav list*/
}

.nav-sub {
    display: grid;
    margin: 0;
    padding: 0;

    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    row-gap: 1.5rem;
}

li {
    list-style: none;
    text-align: center; /*center nav items*/
}

li a {
    border-radius: 100vh;
    padding: 0.5rem 1.5rem;
    white-space: nowrap; /*make text not go to new line if no space*/
}

li a:is(:link, :visited, :hover, :active) {
    text-decoration: none;
    color: var(--text-color);
}

li:has([aria-current="page"]) a { /*nav item current page, aria-current set from js*/
    background-color: var(--nav-current-bg);
}

li a:is(:hover) { /*nav item hover effect*/
    background-color: var(--nav-hover-bg);
}


header {
    position: relative; /*Supports the text in position absolute*/
    background-image: url(../images/background.jpeg);
    height: 30rem; /*image size*/
    background-size: cover; /*only use 1 image*/
    background-position: center; /*center the image*/
}

.header-text {
    position: absolute; /*position absolute within the boudary of the header*/
    top: 50%; /*put text in middle of image*/
    transform: translateY(-50%); /*put text in middle of image*/
}


.header-text, .banner, .chart-radio-banner, footer { /*content padding*/
    padding: 1rem 10%;
}


.banner {
    background-color: var(--banner-bg);
}

.banner p {
    margin: 0;
}

.map-container {
    text-align: center;
}

#container {
    width: 50%; /*size of svg display*/
}


.chart-radio-banner {
    background-color: var(--banner-bg);
    text-align: center;
}

.chart-main-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.chart-visual-container {
    text-align: center;
}

#chart2, #chart3, #chart4 {
    display: none;
}

.chart-side-text {
    margin: 2em 0 2em 2em; /*top, right, bottom, left*/
    padding: 2em;
    border-radius: 10vh 0 0 10vh;
    background-color: var(--banner-bg);

    height: fit-content;
}

.chart-side-text p {
    /* height: 1em; */
}


footer {
    background-color: var(--banner-bg);
    text-align: center;
    font-weight: bold;
}

/* Desktop */
@media (min-width: 768px) {
    nav {
        grid-template-columns: 30% 70%;
    }

    .nav-img img {
        width: 12rem; /*image size*/
    }

    .hamburger {
        display: none;
    }

    .nav-main {
        position: static;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        row-gap: 1.5rem;

        background-color: transparent; /* remove background from mobile mode */
        transition: none; /* remove transition from mobile mode */
    }
}
