:root {
    --body-bg: #000;

    --nav-bg: rgba(30, 60, 120, .5);
    --nav-current-bg: #246;
    --nav-normal-bg: #369;
    --nav-hover-bg: #47C;

    --banner-bg: rgba(30, 60, 120, .5);

    --text-color: #fff;
    --text-size: 1.2em;
}

/* Mobile */
body {
    margin: 0;
    background: var(--body-bg);
    color: var(--text-color);
    overflow-x: hidden; /*hide horizontal scroll*/
}

p {
    font-size: var(--text-size);
    line-height: 2em;
}


nav {
    position: sticky;
    top: 0;
    background: var(--nav-bg);
    padding: 0 2rem;

    justify-content: center; /* put nav items at center */
    align-items: center; /*vertical align nav items and hamburger*/

    display: grid;
    grid-template-columns: 60% 40%;

    z-index: 10; /*show nav background*/
}


.nav-img {
    margin: 0;
    margin-right: auto; /*left align img*/
}

.nav-img img {
    vertical-align: middle; /*center image*/
    width: 8rem; /*image size*/
}


.hamburger {
    width: 100%;
    cursor: pointer;
    margin-left: auto; /* right align hamburger */
    width: fit-content; /* right align hamburger */
}

.hamburger .bar {
    /*hamburger icon*/
    display: block;
    margin: 5px 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    /*hamburger icon*/

    transition: all 0.2s ease-in-out; /*animation*/
}

/*hamburger animation*/
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/*hamburger animation*/


.nav-main {
    background-color: var(--nav-bg);
    border-radius: 2rem 0 0 2rem;
    margin: 0;
    padding: 1rem;

    position: absolute;
    top: 100px;
    right: -100vw;/*animation - hide nav items off the screen*/
    transition: all 0.4s ease-in-out;

    display: grid;
    row-gap: 1.5rem;
}

.nav-main.active {
    right: 0; /*right align nav list*/
}

.nav-sub {
    display: grid;
    margin: 0;
    padding: 0;

    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    row-gap: 1.5rem;
}

.index-nav-sub {
    display: grid;
    margin: 0;
    padding: 0;

    grid-template-columns: auto auto;
    /* border-radius: 0;
    border: 0;
    padding: 50% 50%;
    font-size: 4em; */
}

li {
    /* height: 5em; */
    padding: 0;
    list-style: none;
    text-align: center; /*center nav items*/
}

.index-nav-sub li {
    /* padding: 30% 30%; */
    margin: 10%;
    /* height: fit-content; */
}

li a {
    border-radius: 100vh;
    border: 1px solid var(--nav-normal-bg);
    padding: 0.8rem 2rem;
    white-space: nowrap; /*make text not go to new line if no space*/
}

li a:is(:link, :visited, :hover, :active) {
    text-decoration: none;
    color: var(--text-color);
}

li:has([aria-current="page"]) a { /*nav item current page, aria-current set from js*/
    background-color: var(--nav-current-bg);
}

.index-nav-sub li a {
    border-radius: 10vh;
    padding: 10%;
    font-size: 4em;
    
    background-color: lightgray;
    color: black;
}

li a:is(:hover) { /*nav item hover effect*/
    background-color: var(--nav-hover-bg);
}

header {
    position: relative; /*Supports the text in position absolute*/
    background-image: url(../images/background.jpeg);
    height: 30rem; /*image size*/
    background-size: cover; /*only use 1 image*/
    background-position: center; /*center the image*/
}

.header-text {
    position: absolute; /*position absolute within the boudary of the header*/
    top: 50%; /*put text in middle of image*/
    transform: translateY(-50%); /*put text in middle of image*/
}


.header-text, .banner, .chart-radio-banner, footer { /*content padding*/
    padding: 1rem 10%;
}


.banner {
    background-color: var(--banner-bg);
}

.banner p {
    text-align: center;
    margin: 0;
}

.banner h1, .banner h2 {
    text-align: center;
}


.chart-radio-banner {
    background-color: var(--banner-bg);
    text-align: center;

    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1em;
}

.radio-label {
    font-size: var(--text-size);
}

.chart-main-container {
    display: grid;
}

.chart-visual-container {
    text-align: center;
}

#chart2, #chart3, #chart4, #chart5, #chart6 {
    display: none;
}

.chart-side-text {
    margin: 2em 0 2em 2em; /*top, right, bottom, left*/
    padding: 2em;
    border-radius: 10vh 0 0 10vh;
    background-color: var(--banner-bg);

    height: fit-content;
}

.chart-side-text > h2 {
    text-align: center;
}

#chart-side-legend1, #chart-side-legend2, #chart-side-legend3, #chart-side-legend4, #chart-side-legend5, #chart-side-legend6 {
    border-radius: 100vh;
    text-align: center;
}


footer {
    background-color: var(--banner-bg);
    text-align: center;
    font-weight: bold;
}

/* Desktop */
@media (min-width: 1200px) {
    nav {
        grid-template-columns: 30% 70%;
    }

    .nav-img img {
        width: 12rem; /*image size*/
    }

    .hamburger {
        display: none;
    }

    .nav-main {
        position: static;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        row-gap: 1.5rem;

        background-color: transparent; /* remove background from mobile mode */
        transition: none; /* remove transition from mobile mode */
    }

    .chart-main-container {
        grid-template-columns: 65% 35%;
    }
}